html {
    scroll-behavior: smooth;
}
body {
    color: #F0FFFF;
    background-color: #1c1c1c;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 10px auto;
    background-color: #1c1c1c;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    box-shadow: 1px 1px 10px #FAFBFC;
}
@media (max-width: 600px) {
    header {
        height: 30px;
        align-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }
    .site-head {
        text-align: center;
        align-items: center;
        align-self: center;
        vertical-align: middle;
    }
    .social-media {
        text-align: center;
    }
    .slogan {
        text-align: center;
    }
    .footer-social-media {
        text-align: center;
        align-items: center;
    }
}
.logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    align-content: center;
    align-self: center;
    vertical-align: middle;
}
@media (max-width: 600px) {
    .logo {
        width: 20px;
        height: 20px;
        align-items: center;
        vertical-align: middle;
    }
}
.site-head {
    margin: 0;
    text-align: center;
    align-self: center;
    flex: 2;
    color: #F0FFFF;
    font-size: 25px;
}
@media (max-width: 600px) {
    .site-head {
        font-size: 15px;
        text-align: center;
        flex: 1;
    }
}
.header-logo {
    width: 110%;
    height: 100%;
}
.icon {
    width: 28px;
    height: 26px;
    align-self: center;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}
@media (max-width: 600px) {
    .icon {
        width: 20px;
        height: 20px;
        align-content: center;
        align-self: center;
        text-align: center;
        vertical-align: middle;
    }
}
.social-media {
    height: 35px;
    display: flex;
    justify-content: right;
    justify-content: space-between;
    align-content: center;
    vertical-align: middle;
    width: 200px;
}
@media (max-width: 600px) {
    .social-media {
        display: flex;
        object-position: center;
        object-fit: cover;
        justify-content: right;
        justify-content: space-between;
        align-content: baseline;
        vertical-align: bottom;
        width: 130px;
    }
}
.service {
    width: auto;
    height: 89vh;
    margin: 10px auto;
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 18px #FAFBFC;
}
@media (max-width: 600px) {
    .service-page {
        width: auto;
        height: 87vh;
        margin: 10px auto;
        padding: 10px;
        border-radius: 10px;
        justify-content: center;
        align-content: center;
        vertical-align: middle;
    }
}
.service-heading {
    font-size: 30px;
    text-align: center;
    color: #3572EF;
}
.service-details {
    font-size: 15px;
}
@media (max-width: 600px) {
    .service-heading {
        font-size: 18px;
        text-align: center;
    }
    .service-details {
        font-size: 14px;
    }
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    margin: 10px auto;
    height: auto;
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px #FAFBFC;
}
.footer-social-media {
    height: 35px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    margin: 7px 1px;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}
@media (max-width: 600px) {
    footer {
        height: auto;
        align-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }
    .footer-social-media {
        display: flex;
        justify-content: center;
        margin: 4px 1px;
        justify-content: space-between;
        text-align: center;
        align-content: center;
        vertical-align: middle;
        width: 130px;
    }
}
.footer-icon {
    width: 25px;
    height: 25px;
    align-self: center;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}
@media (max-width: 600px) {
    .footer-icon {
        width: 20px;
        height: 20px;
        align-content: center;
        align-self: center;
        text-align: center;
        vertical-align: middle;
    }
}
.slogan {
    color: #F0FFFF;
    font-size: 12px;
}
@media (max-width: 600px) {
    .slogan {
        font-size: 10px;
        text-align: center;
        align-self: center;
        vertical-align: middle;
    }
}
.copyright {
    font-size: 12px;
    text-align: center;
}
@media (max-width: 600px) {
    .copyright {
        font-size: 10px;
    }
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
    align-self: center;
}
.social-media-link {
    margin-left: 3px;
    margin-right: 3px;
    height: 25px;
    align-items: center;
    align-self: center;
}
@media (max-width: 600px) {
    .social-media-link {
        align-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }
}